# Pyber_starter

In [105]:
 %matplotlib inline
    
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [106]:
# File to Load (Remember to change these)
city_data_to_load = pd.read_csv("../Downloads/city_data.csv")
ride_data_to_load = pd.read_csv("../Downloads/ride_data.csv")

In [107]:
# Read the City and Ride Data
city_data_to_load.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [108]:
# Read the City and Ride Data
ride_data_to_load.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [109]:
# Combine the data into a single dataset
joincitydf = pd.merge(city_data_to_load, ride_data_to_load, on='city',how='left')

In [110]:
# Display the data table for preview
joincitydf.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

# Bubble Plot of Ride Sharing Data

In [121]:
filtercity = joincitydf.loc[:,["fare","type","driver_count"]]
filtercity.head()

    fare   type  driver_count
0  13.93  Urban            38
1  14.00  Urban            38
2  17.92  Urban            38
3  10.26  Urban            38
4  23.00  Urban            38

In [112]:
citiestype=filtercity.groupby("type")
citiestype.mean()

               fare  driver_count
type
Rural     34.623440      4.296000
Suburban  30.970128     13.712000
Urban     24.525772     36.678154

In [113]:
# Obtain the x and y coordinates for each of the three city types
x_rides = list(filtercity.groupby(["type"])["driver_count"])
y_fare = list(filtercity.groupby(["type"])["fare"])

colors=("r","b","y")

In [115]:
# Build the scatter plots for each city types
plt.scatter(x_rides, y_fare, marker="o", alpha=0.5)

In [ ]:
# Incorporate the other graph properties
plt.title("Pyber Ride Sharing Data (2016)")
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare ($)")

In [ ]:
# Create a legend
plt.legend(handles=[Urban, Suburban, Rural], loc="best")

In [ ]:
# Incorporate a text label regarding circle size

In [ ]:
# Save Figure
plt.savefig("../Images/bubbleplot")

In [ ]:
# Show plot
plt.show()

# Total Fares by City Type

In [ ]:
# Calculate Type Percents

In [ ]:
# Build Pie Chart
slices = 
type = 
cols = ['r','y','b']

plt.pie(slices, labels=type,colors=cols,explode=(0,0.2,0.2),shadow=True,autopct='%1.1f%%')

In [ ]:
# Save Figure

In [ ]:
 # Show Figure
plt.show()

In [ ]:
 # Calculate Ride Percents

In [ ]:
# Build Pie Chart

In [ ]:
# Save Figure

In [ ]:
# Show Figure
plt.show()

In [ ]:
# Calculate Driver Percents

In [ ]:
# Build Pie Charts

In [ ]:
# Save Figure

In [ ]:
 # Show Figure
plt.show()