# Heroes of Pymoli Data Analysis

In [88]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = r"C:\Users\Mabel\Downloads\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
original_df = pd.read_csv(file_to_load)

In [89]:
# See the shape of my data frame
original_df.shape

(780, 7)

In [90]:
# See the first 5 rows of my data frame
original_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [91]:
# Display the total number of players
total_players = original_df.SN.nunique()
print(total_players)

576

In [92]:
# Display the total number of players
playercount_df = pd.DataFrame({"Total Players":[total_players]})
playercount_df

   Total Players
0            576

# Purchasing Analysis (Total)

In [93]:
#Number of Unique Items
num_unique_item = original_df["Item ID"].nunique()
print(num_unique_item)

183

In [94]:
#Average Purchase Price
aveg_purchase_price = original_df["Price"].mean()
print(aveg_purchase_price)

3.050987179487176

In [95]:
#Total Number of Purchases
num_purchases = original_df["Purchase ID"].count()
print(num_purchases)

780

In [96]:
# Total Revenue
total_revenue = original_df["Price"].sum()
print(total_revenue)

2379.77

In [97]:
#Create a data frame
purchasingTotal_df = pd.DataFrame({
    "Number of Unique Items":[num_unique_item],
    "Average Price":[aveg_purchase_price],
    "Number of Purchases":[num_purchases],
    "Total Revenue":[total_revenue]
    })
#Formats the two dollar value columns Average Price and Total Revenue
purchasingTotal_df["Average Price"] = purchasingTotal_df["Average Price"].map("${:.2f}".format)
purchasingTotal_df["Total Revenue"] = purchasingTotal_df["Total Revenue"].map("${:.2f}".format)
                                
purchasingTotal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

# Gender Demographics

In [98]:
#Assigned the filtered column to a variable
original_df.groupby(["Gender"]).nunique()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Female,113,81,22,1,90,90,79
Male,652,484,39,1,182,178,144
Other / Non-Disclosed,15,11,8,1,13,13,12

In [99]:
original_df.groupby(["Gender"])["SN"].nunique()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [100]:
gendervalue = original_df.groupby(["Gender"])["SN"].nunique().values
gendervalue

array([ 81, 484,  11], dtype=int64)

In [101]:
gendername = list(original_df.groupby(["Gender"])["SN"].nunique().index)
gendername

['Female', 'Male', 'Other / Non-Disclosed']

In [102]:
genderpercent=gendervalue/gendervalue.sum()
genderpercent

array([0.140625  , 0.84027778, 0.01909722])

In [103]:
genderSummary = pd.DataFrame()
print(genderSummary)

Empty DataFrame
Columns: []
Index: []

In [104]:
genderSummary["GenderNames"] = gendername
print(genderSummary)

             GenderNames
0                 Female
1                   Male
2  Other / Non-Disclosed

In [110]:
genderSummary["Total Count"] = gendervalue
genderSummary["Percentage of Players"] = genderpercent * 100
genderSummary = genderSummary.sort_values(by="Total Count",ascending=False)
genderSummary=genderSummary.set_index("GenderNames")
print(genderSummary)

                       Total Count  Percentage of Players
GenderNames
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [106]:
# Assigned variables to each total

In [107]:
# Percentage of Players

In [108]:
#Create a data frame
genderdemo_df = pd.DataFrame({
    "":["Male","Female","Other/Non-Disclosed"],
    "Total Count":[Num1, Num2, Num3],
    "Percentage of Players":[percentmale, percentfemale, percentother],
    })

genderdemo_df

NameError: name 'Num1' is not defined

# Purchasing Analysis (Gender)